/*?----- Загальні налаштування по сайту- початок- */
/* Огоошуємо перемінну */
:root {
  --colore-bleck: #212121;
  --colore-blue: #2196f3;
  --colore-white: #ffffff;
  --colore-gray: #757575;
  --colore-wite-2: #e5e5e5;
  --colore-bleck-2: #2f303a;
  --colore-wite-3: #f5f4fa;
  --colore-gray-2: rgba(255, 255, 255, 0.6);
  --colore-blue-2: rgba(33, 150, 243, 1);
}
/* Основнйи чорний текст */
body {
  background: var(--colore-white);
  color: var(--colore-bleck);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
/*! ------------------------------------- */
/* Сірий колір другорядний колір */
.item .site,
.paragr {
  color: var(--colore-gray);
}
/* Забрати всі крапки із ul */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*?----- Загальні налаштування по сайту- кінець- */
/*! ------------------------------------- */

/*?----- Хедер-початок-- */

/*! ------------------------------------- */
/*Логотип колір та розмір*/
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2; /* 31px; */
  color: var(--colore-blue);
}
/*Хедер Чорний логотип Studio */
.header .studio {
  color: var(--colore-bleck);
}
/*! ------------------------------------- */
.header .navigation {
  font-style: normal;
}
/*! ------------------------------------- */
.header .block {
  line-height: 1.7; /*24*/
}
/*! ------------------------------------- */
/* Чорні посилання */
.header .link {
  color: var(--colore-bleck);
}
/* Сині вкладки на якій сторінці знаходжуся */
.link-page {
  color: var(--colore-blue);
}
/* Сірі посилання тел емайл */
.connect .link {
  color: var(--colore-gray);
  letter-spacing: 0.02em;
}
/* При наведенні на посилання синіють */
.header .link:hover,
.header .link:focus,
.connect .link:hover,
.connect .link:focus {
  color: var(--colore-blue);
}
/*?----- Хедер-кінець-- */
/*! ------------------------------------- */
/*?----- 1-ша сторінка-кінець--- */
/* Темний фон героя */
.hero {
  background-color: var(--colore-bleck-2);
}
.hero .text {
  color: var(--colore-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4; /*60px*/
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
/* Кнопка заказати послугу */
.hero .button {
  font-family: Roboto, sans-serif;
  background-color: var(--colore-blue);
  color: var(--colore-white);
  border-color: var(--colore-blue);
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.9; /*30px*/
  letter-spacing: 0.06em;
    cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--colore-blue-2);
}
/*! ------------------------------------- */
.logo,
.hero .button,
.skils .title,
.gallery .text,
.teams .text,
.service .title,
.service .link {
  font-weight: 700;
}
/*! ------------------------------------- */
.header .link-page,
.header .link,
.teams .title,
.button {
  font-weight: 500;
}
/*! ------------------------------------- */
/* Єфективне рішення вашого біщнесу заголовок */
.skils .title {
  line-height: 1.4; /*16px*/
  text-transform: uppercase;
}
/* Єфективне рішення вашого біщнесу опис */
.skils .paragr {
  line-height: 1.7; /*24px*/
}
/*! ------------------------------------- */
/* Галерея текс - Наша команда */
.gallery .text,
.teams .text {
  font-size: 36px;
  line-height: 1.16; /*42p[*/
  text-align: center;
}
/*! ------------------------------------- */
/* Співробітники ПІБ */
.teams .title {
  font-size: 16px;
  line-height: 1.18; /*19px*/
}
/* Співробітники Опис */
.teams .paragr {
  font-size: 16px;
  line-height: 1.9; /*19px*/
}
/*?----- 1-ша сторінка-кінець--- */
/*! ------------------------------------- */

/*?----- 2-га сторінка-початок--- */
/*! ------------------------------------- */
/* Кнопки 5 шт чорна*/
.service .button {
  color: var(--colore-bleck);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--colore-wite-3);
  border-color: var(--colore-wite-3);
  border-radius: 4px;
}
/* Кнопки 5 шт синя*/
.service .button:focus,
.service .button:hover {
  background-color: var(--colore-blue);
  border-color: var(--colore-blue);
  color: var(--colore-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Проекти-назва-параграф */
.service .link {
  color: var(--colore-bleck);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2; /*36px*/
  font-style: normal;
}
.service .title {
  font-size: 18px;
  line-height: 2; /*36px*/
  letter-spacing: 0.06em;
  text-align: center;
}
.service .paragr {
  font-size: 16px;
  line-height: 1.9; /*30px*/
}
/*?----- 2-га сторінка-Кінець--- */
/*! ------------------------------------- */

/*?----- Підвал--- */
/*! ------------------------------------- */
/* Беграунд футера / Колір пошти та телефона*/
.footer {
  background-color: var(--colore-bleck-2);
}
/*! ------------------------------------- */
/* Футер білий логотип Studio */
.footer .studio {
  color: var(--colore-white);
}
/*! ------------------------------------- */
/* Силь Адреси+емаій+телефон */
.footer .address {
  line-height: 1.7; /*24px*/
  letter-spacing: 0.03em;
  font-style: normal;
}
/*! ------------------------------------- */
/* Колір андреси */
.address .link-addr {
  color: var(--colore-white);
}
/* Колір пошти та телефону */
.address .link {
  color: var(--colore-gray-2);
}
